.main-title{
    color: rgb(255, 255, 255);
    text-shadow: 3px 0px 0 black;
    font-size: 50px ;
    font-family: "Bebas Neue", sans-serif ;
    
}

.main-title.-second{
    
    color: rgb(255, 255, 255);
    text-shadow: 3px 0px 0 black;
    font-size: 50px ;
    font-family: "Bebas Neue", sans-serif ;
    text-align: center;
}