.main-banner{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/img/page1_fundo.png);
    background-repeat: no-repeat;
    background-size: 120%;
    height: 855px ;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    

    
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    
    width: 630px;
}

.main-banner .box{
    margin-bottom: 40px ;
}


.main-banner .navegation{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

