.projects{
    display: flex;
    flex-direction: column;
    
    
}

.projects .icon{
    width: 208px;
    height: 243px;
}

.projects .title{
    font-size: 30px;
    color: white;
    text-align: center;
}

