.section{
    display: flex;
    justify-content: center;
    height: 855px ;
    background-color: #263764;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid red;
    box-sizing: border-box;

}

.section .component1{
    display: flex;
    justify-content: center;
    
}


.section .box1{
    display: flex;
    justify-content: center;
    width: 960px;

}

.section .container{
    display: inline-block;
    background-color: white;
    width: 320px;
    height: 40px;

}