.section{
    display: flex;
    justify-content: center;
    height: 855px ;
    background-color: #263764;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid red;
    box-sizing: border-box;

}


