.skill-tec{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.skill-tec .icon{
    margin-right: 25px;
    width: 80.27px;
    height: 90px;
}

.skill-tec .title{
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
    font-family: "Bebas Neue", sans-serif ;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    
}
