.skill-tec{
    display: flex;
    font-family: "Bebas Neue", sans-serif ;
    font-size: 25px;
    color: white;
}

.skill-tec .icon{
    margin-right: 25px;
    width: 80.27px;
    height: 90px;
}

.skill-tec .title{
    font-size: 30px;
    margin: 0;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    
}
